@import '@/styles/_root.scss';

.wrapper {
    max-width: $xl;
    margin: 0 auto;
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .container {
        display: flex;
        gap: 20px;
    }
}

.loader {
    width: 100%;
    left: 0;
    max-width: $xl;
    min-height: calc(100vh - 200px);
    height: auto;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    place-items: center;
    gap: 20px;
}

@media (max-width: 991.98px) {
    .wrapper {
        .container {
            flex-direction: column;
        }
    }
}

@media (max-width: 575.98px) {
    .wrapper {
        padding: 20px;

        .container {
            padding: 0;
            width: 100%;
        }
    }
}