$darkColor: #bb86fc;
$darkBg: #1F1b24;

$orange: #ffbb00;
$violet: #6a38c2;
$background: white;
$white: white;
$black: black;


$xl:1300px;

$font40014: 400 14px 'Montserrat';
$font40015: 400 15px 'Montserrat';
$font40016: 400 16px 'Montserrat';
$font40017: 400 17px 'Montserrat';
$font40018: 400 18px 'Montserrat';
$font40019: 400 19px 'Montserrat';
$font40020: 400 20px 'Montserrat';
$font40021: 400 21px 'Montserrat';
$font40022: 400 22px 'Montserrat';

$font50014: 500 14px 'Montserrat';
$font50015: 500 15px 'Montserrat';
$font50016: 500 16px 'Montserrat';
$font50017: 500 17px 'Montserrat';
$font50018: 500 18px 'Montserrat';
$font50019: 500 19px 'Montserrat';
$font50020: 500 20px 'Montserrat';
$font50021: 500 21px 'Montserrat';
$font50025: 500 25px 'Montserrat';

$font60014: 600 14px "Montserrat";
$font60015: 600 15px "Montserrat";
$font60016: 600 16px "Montserrat";
$font60017: 600 17px "Montserrat";
$font60018: 600 18px "Montserrat";
$font60019: 600 19px "Montserrat";
$font60020: 600 20px "Montserrat";
$font60021: 600 21px "Montserrat";

$font70015: 700 15px 'Montserrat';
$font70016: 700 16px 'Montserrat';
$font70017: 700 17px 'Montserrat';
$font70018: 700 18px 'Montserrat';
$font70019: 700 19px 'Montserrat';
$font70020: 700 20px 'Montserrat';
$font70021: 700 21px 'Montserrat';
$font70022: 700 22px 'Montserrat';
$font70023: 700 23px 'Montserrat';
$font70024: 700 24px 'Montserrat';
$font70028: 700 28px 'Montserrat';
$font70032: 700 32px 'Montserrat';


$font80019: 800 19px 'Montserrat';
$font80021: 800 21px 'Montserrat';
$font80027: 800 27px 'Montserrat';
$font80030: 800 30px 'Montserrat';
$font80042: 800 42px 'Montserrat';