:root {
    --orange: #ffbb00;
    --color-text: #6a38c2;
    --background: white;
    --white: white;
    --black: black;
    --white-rev: rgb(0, 0, 0);
    --bg-fon: #f4f4fc;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --text-gray: rgb(79, 79, 79);
    --background-rev: #1F1b24
}

[class="dark"] {
    --background-rev: white;
    --background: #1F1b24;
    --color-text: #bb86fc;
    --white: rgb(0, 0, 0);
    --white-rev: rgb(255, 255, 255);
    --black: rgb(255, 255, 255);
    --bg-fon: #1F1b24;
    --box-shadow: rgba(255, 255, 255, 0.1);
    --text-gray: rgb(205, 205, 205);
}

/*
var(--background);
var(--color-text);
var(--white);
var(--black);

*/