.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);

    .main {
        flex: 1 0 auto;
        margin-top: 70px;
    }
}

@media (max-width: 849.98px) {
    .wrapper {
        .main {
            margin-top: 60px;
        }
    }
}