@import '@/styles/_root.scss';

.wrapper {
    width: 100%;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    .number {
        border-radius: 10px;
        padding: 4px 18px;
        font: $font50016;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        border: 2px solid var(--color-text);
        color: var(--color-text);
        background: transparent;
    }

    .title {
        text-align: center;
        font: 800 70px/100px 'Montserrat';
        z-index: 2;
        color: var(--black);

        span {
            color: var(--color-text);
        }
    }

    .descr {
        margin-top: 20px;
        max-width: 700px;
        text-align: center;
        font: $font40016;
        z-index: 2;
        line-height: 30px;
        color: var(--black);
    }

    .btns {
        margin-top: 40px;
        display: flex;
        gap: 20px;

        .login,
        .register {
            width: 200px;
            height: 48px;
            border: 0;
            font: $font60016;
            border-radius: 10px;
            cursor: pointer;
            display: grid;
            place-items: center;
            transition: 0.3s;
            background-color: var(--color-text);
            color: rgb(255, 255, 255);

            &:hover {
                transform: translateY(-2px);
            }
        }

        .register {
            border: 2px solid var(--color-text);
            background-color: transparent;
            color: var(--color-text);
        }
    }

    .icons {
        width: 36px;
        height: 36px;
        object-fit: contain;
        position: absolute;
        transition: 0.3s;
        z-index: 1;
        padding: 2px;
        border: 2px solid white;
        background-color: white;
        border-radius: 8px;
    }
}

@media (max-width: 991.98px) {
    .wrapper {
        .title {
            font: 800 60px/90px 'Montserrat';
        }

        .btns {

            .login,
            .register {
                width: 190px;
            }
        }

        .icons {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 767.98px) {
    .wrapper {
        .title {
            font: 800 50px/70px 'Montserrat';
        }

        .descr {
            max-width: 500px;
            line-height: 25px;
        }

        .btns {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;

            .login,
            .register {
                width: 100%;
                max-width: 350px;
                height: 48px;
                font: $font60016;
            }
        }

        .icons {
            width: 25px;
            height: 25px;
        }
    }
}

@media (max-width: 575.98px) {
    .wrapper {
        padding: 50px 20px;

        .number {
            font: $font50014;
        }

        .title {
            font: 800 33px/40px 'Montserrat';
        }

        .descr {
            margin-top: 10px;
            font: $font50014;
            line-height: 25px;
        }

        .btns {
            width: 80%;
            margin: 20px auto 0;

            .login,
            .register {
                width: 100%;
                height: 40px;
                font: $font60015;
            }
        }

        .icons {
            width: 20px;
            height: 20px;
            display: none;
        }
    }
}