@import '@/styles/_root.scss';

.or {
    width: 100%;
    text-align: center;
    font: $font60015;
    color: var(--color-text);
}

.otherLogin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 600px;
    gap: 20px;
    margin-top: 16px;

    .otherBtn {
        width: 100%;
        height: 33px;
        padding: 0 10px;
        border: 1px solid var(--color-text);
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        font: $font50014;
        color: var(--color-text);
    }
}

@media (max-width: 767.98px) {
    .otherLogin {
        max-width: 400px;
    }
}