@import '@/styles/_root.scss';

.company__card {
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: var(--background);
    border: 2px solid rgb(223, 223, 223);
    padding: 30px;
    display: flex;
    flex-direction: column;

    .company__title {
        margin-top: 20px;
        font: $font70017;
        color: var(--black);
    }

    .company__employees {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding-top: 16px;
        padding-left: 5px;

        .employees__block {
            display: flex;
            width: 100%;
            gap: 10px;
            align-items: center;

            svg {
                min-width: 24px;
                width: 24px;
                height: 24px;
                background-color: white;
                border-radius: 4px;
                padding: 2px;
                cursor: pointer;
            }

            .employees__title {
                font: $font60016;
                color: var(--text-gray);
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: var(--color-text);
                }
            }
        }
    }

    .experiance {
        .experiance__title {
            color: var(--black);
            font: $font70017;
        }

        .experiance__list {
            font: $font60016;
            display: flex;
            flex-direction: column;
            gap: 6px;
            color: var(--text-gray);
            padding-top: 16px;
            padding-left: 20px;

            li {
                gap: 10px;
                list-style: circle;
            }
        }
    }

}

@media (max-width: 991.98px) {
    .company__card {
        max-width: 100%;
    }
}

@media (max-width: 575.98px) {
    .company__card {
        max-width: 100%;
        padding: 10px;

        .company__title {
            font: $font70016;
        }

        .company__descr {
            font: $font60015;
        }

        .company__employees {
            .employees__block {
                .employees__title {
                    font: $font60016;
                }
            }
        }
    }
}