@import '@/styles/_root.scss';

.company__card {
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: var(--background);
    border: 2px solid rgb(223, 223, 223);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .company__title {
        font: $font70017;
        color: var(--black);
    }

    .company__descr {
        margin-top: 10px;
        font: $font60016;
        color: var(--text-gray);
        line-height: 25px;
        margin-bottom: 15px;
    }

    .company__employees {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding-top: 16px;
        padding-left: 5px;

        .employees__block {
            display: flex;
            width: 100%;
            gap: 10px;
            align-items: center;

            img {
                min-width: 24px;
                width: 24px;
                height: 24px;
                background-color: white;
                border-radius: 4px;
                padding: 2px;
                cursor: pointer;
            }

            .employees__title {
                font: $font60016;
                color: var(--text-gray);
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: var(--color-text);
                }
            }
        }
    }

    .company__benefit {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 15px;

        li {
            transition: 0.3s;
            font: $font60016;
            padding: 4px 14px;
            border-radius: 4px;
            background-color: var(--bg-fon);
            box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 2px;
        }
    }
}

@media (max-width: 991.98px) {
    .company__card {
        max-width: 100%;
    }
}

@media (max-width: 575.98px) {

    .company__card {
        padding: 10px;

        .company__title {
            font: $font70016;
        }

        .company__descr {
            font: $font60015;
        }

        .company__employees {
            .employees__block {
                .employees__title {
                    font: $font60015;
                }
            }
        }

        .company__benefit {
            margin: 10px 0 15px;

            li {
                font: $font60015;
            }
        }
    }
}